.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  justify-content: space-between;
}

.app-title a {
  text-decoration: none;
  color: rgb(27, 27, 58);
}

h1 {
  color: white;
}

.nav a {
  color: rgb(27, 27, 58);
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
}

.inner-navs {
  display: flex;
  flex-direction: row;
  background-color: rgb(242, 0, 137);
  margin: auto 10px;
  border-radius: 7px;
  height: 2.2rem;
}

.inner-navs p {
  all: unset;
  color: white;
  vertical-align: middle;
  margin: auto;
}

.finance-output {
  flex-grow: 1;
  padding: auto;
  margin: auto 10px;
  background-color: rgb(242, 0, 137);
  border-radius: 7px;
  max-width: 600px;
  height: 1.5rem;
  color: white;
  flex-basis: 0;
}

.finance-output > p {
  all: unset;
  vertical-align: middle;
}

.inner-home-nav {
  padding-bottom: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  border: 1px solid rgb(45, 0, 244);
  width: 100px;
}

#totals {
  background-color: rgb(47, 16, 184);
  margin: 50px auto;
  border-radius: 10px;
  max-width: 400px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.total-line {
  background-color:  rgb(242, 0, 137);
  border: 2px solid rgb(106, 0, 244);
  padding: 20px;
  border-radius: 10px;
  margin: 15px;
  display: flex;
}

.total-line > * {
  margin: 0, 20px;
}

.budget-button {
  justify-content: center;
  margin-top: 7px;
}

.input-card {
  
  border: 2px solid rgb(27, 27, 58);
  width: 350px;
  height: 200px;
  background-color: rgb(106, 51, 194);
  border-radius: 10px;
  margin: 20px auto;
  justify-content: flex-start;
  color: white;
}

.row-four > input {
  margin: 10px 0 10px 18px;
}

.row-two > input {
  margin: 10px 0 10px 40px;
}

.row-three > input {
  margin-left: 41px;
  height: 24px;
}

.row-one > input {
  margin: 15px 0 0 33px;
}

input {
  width: 200px;
  height: 20px;
}

.finance-card {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  background-color: rgb(47, 16, 184);
  width: 100%;
  max-width: 700px;
  margin: 10px auto;
  border-radius: 5px;
}

.finance-card > h3 {
  color: white;
  flex-grow: 1;
  flex-basis: 0;
}

.modal {
  background: white;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  position: fixed;
  inset: 30%;
  display: flex;
  flex-direction: column;
}

img {
  height: 100px;
  object-fit: contain;
  padding: 20px 0 0 0;
}

footer {
  bottom: 0;
}

.footer-nav > h3 {
  color: white;
  padding: 40px 0 0 0;
  text-align: center;
}

@media only screen and (min-device-width: 1280px) {
  .totals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 30vw;
  }
}

@media only screen and (min-width: 1920px) {
  .finance-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 80vw;
  }
}

@media only screen and (max-width: 700px) {
  .modal {
    inset: 20%;
    max-height: 50vh;
    max-width: 300px;
  }
  .finance-card {
    flex-flow: column nowrap;
    padding: 0 20px;
    box-sizing: border-box;
  }
}


@media only screen and (max-width: 375px) {
  .modal {
    inset: 50px;
    max-height: 50vh;
  }
  .finance-card {
    box-sizing: border-box;
    padding: 0 20px;
  }
}