.App {
  text-align: center;
}

.nav a {
  color: rgb(0, 0, 0)
}

.nav a:visited{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav a:link {
  text-decoration: none;
}

.nav {
  background-color: rgb(211, 35, 35);
  border-radius: 10px;
  border: 2px solid;
  max-width: 170px;
  display: grid;
  /* justify-content: space-evenly; */
  grid-template-columns: 1fr 1fr 1fr;
}

.inner-navs {
  padding-bottom: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  border: 1px solid rgb(0, 0, 0);
  width: 100px;
}

.home-nav {
  background-color: rgb(211, 35, 35);
  border-radius: 10px;
  border: 2px solid;
  max-width: 170px;
  display: grid;
  /* justify-content: space-evenly; */
  grid-template-columns: 1fr 1fr 1fr;
}

.inner-home-nav {
  padding-bottom: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  border: 1px solid rgb(0, 0, 0);
  width: 100px;
}

#totals {
  background-color: rgb(0, 0, 0);
  margin: 20px;
  border-radius: 10px;
  max-width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.total-line {
  background-color: rgb(228, 61, 153);
  border: 2px solid rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  margin: 15px;
  display: flex;
  /* justify-content: center; */
}

.total-line > * {
  margin: 0, 20px;
}

.input-card {
  border: 2px solid rgb(0, 0, 0);
  width: 250px;
  height: 150px;
  background-color: rgb(65, 133, 74);
  border-radius: 10px;
  margin: 20px;
  display: flex;
  text-align: left;
}

.finance-card {
  display: grid;
  /* flex-direction: row; */
  /* justify-content: space-around; */
  background-color: rgb(155, 140, 210);
  /* flex-wrap: wrap; */
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.modal {
  background: white;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  position: absolute;
  top: 30%;
  bottom: 30%;
  right: 30%;
  left: 30%;
  display: flex;
  flex-direction: column;
}