.App {
  text-align: center;
}

#totals {
  background-color: grey;
  margin: 20px;
  border-radius: 10px;
}

.total-line {
  background-color: blue;
  border: 1px solid white;
  padding: 10px;
}

.total-line > * {
  margin: 0, 20px;
}